## For, If,Functions

Functions in Python. A function is a set of statements that take inputs, do some specific computation and produces output. These functions are called user defined function

In [1]:
## If conditions  and for loops

lst=[1,2,3,4,5,6,7,8,9,10,12,13,14,15]

even_sum=0
odd_sum=0
for i in lst:
    if i%2==0:
        even_sum=even_sum+i
    else:
        odd_sum=odd_sum+i
print(even_sum,odd_sum)

56 53

In [3]:
def even_sum(num):
    if num%2==0:
        print("The no is even")
    else:
        print("The no is odd")

In [4]:
even_sum(25)

The no is odd

In [9]:
def hello_world():
    return "Hello World!!"

In [10]:
val = hello_world()

In [11]:
print(val)

Hello World!!

In [12]:
def add_no(num1, num2):
    return num1+num2

In [13]:
val = add_no(21,26)
val

47

In [ ]:
'''
Syntax
def funcname(parameter1,parameter2,...):
    function body

'''

In [2]:
def add(num1,num2):
    return num1+num2

In [3]:
add(2,4)

6

In [14]:
def add_list(lst):
    sum1 =0
    for i in lst:
        print(i)
        sum1=sum1+int(i)
    return sum1

In [34]:
add_list([1,2,3,4,5,6])

1
2
3
4
5
6

21

In [15]:
input_num=list(input("Enter the list"))

Enter the list

In [39]:
input_num

['1', '2', '3', '4', '5', '6', '7']

In [40]:
add_list(input_num)

1
2
3
4
5
6
7

28

In [16]:
## Positional argument
## Key value argument
def hello(name, age=29):
    print("My name is {} and age is {}".format(name, age))

In [19]:
hello("Shubh")

My name is Shubh and age is 29

In [30]:
def hello(*args,**kwargs):
    print(args)
    print(kwargs)

In [31]:
hello("Shubh","Joshi", age=28, dob=1992)

('Shubh', 'Joshi')
{'age': 28, 'dob': 1992}

In [32]:
lst =["Shubh", "Joe"]
dict_arg={'age':29,'dob':1991}

In [33]:
hello(*lst,**dict_arg)

('Shubh', 'Joe')
{'age': 29, 'dob': 1991}

In [34]:
lst=[1,2,3,4,5]

In [35]:
def evenoddsum(lst):
    even_sum=0
    odd_sum=0
    for i in lst:
        if i%2==0:
            even_sum+=i
        else:
            odd_sum+=i
    return even_sum, odd_sum

In [36]:
evenoddsum(lst)

(6, 9)

### Lambda Functions

- A function with no name

In [37]:
def addition(a,b):
    return a+b

In [38]:
addition(4,5)

9

In [40]:
addition = lambda a,b:a+b

In [41]:
addition(12,15)

27

In [42]:
def even(num):
    if num%2==0:
        return True

In [43]:
even(24)

True

In [44]:
even1 = lambda a:a%2==0

In [45]:
even1(25)

False

In [46]:
def addition(x,y,z):
    return x+y+z

In [47]:
addition(2,3,4)

9

In [48]:
addition = lambda x,y,z:x+y+z

In [49]:
addition(3,4,5)

12

### Map

In [54]:
def even_odd(num):
    if num%2==0:
        return "The no {} is even".format(num)
    else:
        return "The no {} is odd".format(num)

In [55]:
even_odd(26)

'The no 26 is even'

In [56]:
# When we have to apply same function for multiple no
lst=[1,2,3,4,5,6,7,8,9,24,27]

In [59]:
# We can loop through it, to remove iteration we use map
# It uses the lazy loading technique memory is not initiated by loading the map
# To initiate this we use the list in front
list(map(even_odd, lst))

['The no 1 is odd',
 'The no 2 is even',
 'The no 3 is odd',
 'The no 4 is even',
 'The no 5 is odd',
 'The no 6 is even',
 'The no 7 is odd',
 'The no 8 is even',
 'The no 9 is odd',
 'The no 24 is even',
 'The no 27 is odd']

### Filter Function

In [64]:
def even(num):
    if num%2==0:
        return True

In [65]:
lst=[1,2,3,4,5,6,7,8,9,0]

In [66]:
list(filter(even,lst))

[2, 4, 6, 8, 0]

In [68]:
list(filter(lambda num:num%2==0,lst))

[2, 4, 6, 8, 0]

In [69]:
list(map(lambda num:num%2==0,lst))

[False, True, False, True, False, True, False, True, False, True]

### List Comprehension

Consise way to create a lists.

In [70]:
lst1=[]
def lst_square(lst):
    for i in lst:
        lst1.append(i*i)
    return lst1

In [71]:
lst_square([1,2,3,4,5,6,7,8,9])

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [72]:
lst=[1,2,3,4,5,6,7,8,9]

In [75]:
lst1= [ i*i for i in lst if i%2==0 ]

In [76]:
print(lst1)

[4, 16, 36, 64]

### String Formatting

In [77]:
strs = "Hello Everyone!!"

In [78]:
def greeting(name):
    return "Hello {}.Welcome to the community".format(name)

In [79]:
greeting("Shubh")

'Hello Shubh.Welcome to the community'

In [86]:
def welcome_email(name,age):
    return "Welcome {name}.Your age is {age}".format(age=age, name=name)

In [87]:
welcome_email("Shubh",28)

'Welcome Shubh.Your age is 28'

### List Iterables vs Iterators

In [88]:
#List is Iterable
# Memory is allocated
lst=[1,2,3,4,5,6,7,8,9]

for i in lst:
    print(i)

1
2
3
4
5
6
7
8
9

In [90]:
# Converts list into an Iterator
# It is not stored in the memory as soon as we call the function next memory is allocated
list1=iter(lst)

In [91]:
list1

In [95]:
# One by one elements will be stored in the memory
next(list1)

2

### PyForest install for all Data Science lib

In [96]:
!pip install Pyforest

Collecting Pyforest
  Downloading pyforest-1.0.3.tar.gz (14 kB)
Building wheels for collected packages: Pyforest
  Building wheel for Pyforest (setup.py): started
  Building wheel for Pyforest (setup.py): finished with status 'done'
  Created wheel for Pyforest: filename=pyforest-1.0.3-py2.py3-none-any.whl size=13720 sha256=bb40b2643030a392b20b1f107a69034134b97f44320d9915c717cf7c93bc8933
  Stored in directory: c:\users\ag20459\appdata\local\pip\cache\wheels\72\b6\6c\b593d021f7e83f481c5208bc23df0084bcfbeb5b141352b882
Successfully built Pyforest
Installing collected packages: Pyforest
Successfully installed Pyforest-1.0.3

The system cannot find the path specified.
WARNING: You are using pip version 20.0.2; however, version 20.2.4 is available.
You should consider upgrading via the 'C:\Users\AG20459\AppData\Local\Continuum\anaconda3\envs\tf2_2\python.exe -m pip install --upgrade pip' command.

In [98]:
import pandas as pd

In [101]:
df = pd.read_csv("http://winterolympicsmedals.com/medals.csv")

In [102]:
df.head()

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold

In [105]:
active_imports()

NameError: name 'active_imports' is not defined

In [106]:
lst1=[1,2,3,4,5]
lst2=[6,7,8,9]

In [ ]:
plt.plot(lst1,lst2)
plt.xlabels("X axis")
plt.ylabels("Y axis")
plt.show()

### OOPS in Python

In [123]:
class Car:
    def __init__(self,window,door,engintype):
        self.windows= window
        self.doors=door
        self.enginetype=engintype
    def self_driving(self):
        return "This is a {} car".format(self.enginetype)

In [125]:
car1 = Car(4,5,'petrol')

In [127]:
car1.self_driving()

'This is a petrol car'

In [120]:
car2= Car(3,4,'diesel')

In [121]:
print(car1.windows)

4

In [122]:
print(car2.doors)

4

In [115]:
dir(car1)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'doors',
 'windows']